<html>
     <head>
          <title>Data</title>
          <link rel="stylesheet" href="./static/css/style.css">
          <h1>Querying Data</h1>
     </head>
     <body>
       <table style="width:100%">
         <tr>
           <th><h3>Opioids Dataset</h3></th>
           <th><h3>Senators Dataset</h3></th>
         </tr>
         <tr>
           <td><h4>Data can be found <a href="https://data.ct.gov/api/views/rybz-nyjw/rows.json?accessType=DOWNLOAD">here</a>.</h4></td>
           <td><h4>Data can be found <a href="https://www.govtrack.us/api/v2/role?current=true&role_type=senator">here</a>.</h4></td>
         </tr>
         <tr>
           <td>
             <form>
           </td>
         </tr>


     </body>
</html>
